<header>
  <nav class="bg-blue-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div
          class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
        >
          <div class="flex-shrink-0 flex items-center">
            <span class="text-base md:text-2xl text-white">HRMS</span>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <a
                routerLink="/employees"
                routerLinkActive="active"
                class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                >Employees</a
              >
              <a
              routerLink="/clients"
              routerLinkActive="active"
              class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Clients</a
            >
            <a
            routerLink="/time-sheet"
            routerLinkActive="active"
            class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Time Sheet</a
          >
          <a
          routerLink="/tasks"
          routerLinkActive="active"
          class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >Tasks</a
        >
        <a
        routerLink="/payroll"
        routerLinkActive="active"
        class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Payroll</a
      >
      <a
      routerLink="/payroll"
      routerLinkActive="active"
      class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Utilities</a
    >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a
        routerLink="/employees"
        routerLinkActive="active"
        class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Employees</a
      >
      <a
      routerLink="/clients"
      routerLinkActive="active"
      class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Clients</a
    >
    <a
    routerLink="/time-sheet"
    routerLinkActive="active"
    class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
    >Time Sheet</a
  >
  <a
  routerLink="/tasks"
  routerLinkActive="active"
  class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
  >Tasks</a
>
<a
routerLink="/payroll"
routerLinkActive="active"
class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
>Payroll</a
>
<a
routerLink="/payroll"
routerLinkActive="active"
class="uppercase text-blue-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
>Utilities</a
>
      </div>
    </div>
  </nav>
</header>
