<header>
  <nav class="app-nav">
    <div class="app-nav-container">
      <div class="app-nav-flex">
        <div class="app-nav-flex-items">
          <div class="app-nav-flex-items-align">
            <span class="app-nav-logo">HRMS</span>
          </div>
          <div class="app-nav-desktop-menu">
            <div class="flex space-x-4">
              <a
                routerLink="/employees"
                routerLinkActive="active"
                class="app-menu"
                >Employees</a
              >
              <a
                routerLink="/clients"
                routerLinkActive="active"
                class="app-menu"
                >Clients</a
              >
              <a
                routerLink="/time-sheet"
                routerLinkActive="active"
                class="app-menu"
                >Time Sheet</a
              >
              <a routerLink="/tasks" routerLinkActive="active" class="app-menu"
                >Tasks</a
              >
              <a
                routerLink="/payroll"
                routerLinkActive="active"
                class="app-menu"
                >Payroll</a
              >
              <a
                routerLink="/payroll"
                routerLinkActive="active"
                class="app-menu"
                >Utilities</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="app-nav-mobile-menu" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a routerLink="/employees" routerLinkActive="active" class="app-menu"
          >Employees</a
        >
        <a routerLink="/clients" routerLinkActive="active" class="app-menu"
          >Clients</a
        >
        <a routerLink="/time-sheet" routerLinkActive="active" class="app-menu"
          >Time Sheet</a
        >
        <a routerLink="/tasks" routerLinkActive="active" class="app-menu"
          >Tasks</a
        >
        <a routerLink="/payroll" routerLinkActive="active" class="app-menu"
          >Payroll</a
        >
        <a routerLink="/payroll" routerLinkActive="active" class="app-menu"
          >Utilities</a
        >
      </div>
    </div>
  </nav>
</header>
